.sc-lmgQwP .select-wrapper{
    border-bottom: 0px !important;
}
.sc-lmgQwP .select-wrapper input.select-dropdown{
    border-bottom: 0px !important;
    width: 100%;
    display: initial !important;
    text-align: center;
}
.hcxOIW{
    position:initial !important;
    width: 15%;
    height: 42px;
}

nav{
    line-height: 42px;
}